sealed-secrets:
  replicaCount: 1

  image:
    repository: ghcr.io/getsops/sealed-secrets-controller
    tag: v0.24.0
    pullPolicy: IfNotPresent

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi

  commandArgs:
    - --update-status=true
    - --listen=8080

  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
  metrics:
    serviceMonitor:
      enabled: true
      interval: 30s
  containerSecurityContext:
    runAsNonRoot: true
    runAsUser: 65534
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
